#Page3_part3{
    width: clamp(600px,100%,100%);
    height: clamp(400px,77vh,580px);
    background-image: url(https://images.squarespace-cdn.com/content/v1/624b503d7ea85a384b516b32/1649102941032-OLYUDZ3DYIDZ9GUCSAHT/ripple.png?format=2500w);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 3rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}


#container_Page3_part3{
    width: clamp(600px,100%,1980px);
    height: clamp(400px,77vh,580px);
    font-family: var(--font);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}


#container_Page3_part3 h1{
    font-size: 10rem;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#emailIn{
    width: 45vw;
    padding: 3px 18px;
    height: 6vh;
    border-radius: 9px;
    border: none;
    outline: none;
    font-family: var(--font);
    font-size: 1.2rem;
}





#First_footer{
    width: clamp(600px,100%,1980px);
    height: clamp(250px,40vh,301px);
    background-color: #000;
    display: flex;
    font-family: var(--font);
}
.Foot1{
    width: 50vw;
    height: 100%;
    /* border: 2px solid red;    */
}
.Foot1 h1{
    font-weight: 100;
    margin-left: 2rem;
    font-size: 2rem;
    border-bottom: 2px solid #3a3a3a;
    color: #ffffff;
}

#email{
    border: none;
}

.Foot1 h1:nth-child(1){
    width: clamp(160px,13vw,199px);
}
.Foot1 h1:nth-child(2){
    width: clamp(130px,10vw,153px);
}
.Foot1 h1:nth-child(3){
    width: clamp(150px,11vw,168px);
}
.Foot1 h1:nth-child(4){
    width: clamp(200px,16vw,245px);
}